.header {
    color: white;
    padding: none;
    text-align: center;
    border-radius: 12px;
    width: 99%;
    color: blue;
    height: 5rem;
    border: 0.5px solid blue;
    margin-bottom: 1rem;
  }
  